.messges {
    display: flex;
    flex-direction: column ;
    height: 300px;
    overflow: scroll;
    scroll-behavior: smooth;
}


.content {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}
